body{
    background-color: gray;


}
#Ph1{
    color: brown;
    text-align: center;
    font-family: ariel;
    padding: 30px;
    border: 2px solid black;
    font-size: 300%;
}
Form{
    border: 4px solid white;
     
}